<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<%= stylesheet_link_tag "style" %>
	<%= stylesheet_link_tag "forms" %>
	<%= stylesheet_link_tag "colours" %>
	<title>HackSAP - Menu</title>
</head>
<body>
<div class = "header backgroundgreen">
	<div id="logo"><span class="black">Hack</span><span class="white">SAP</span></div>
	<div class="navbar">
		<a href="">Hasiera</a>
		<a href="">Produktuak</a>
		<a href="">Irten</a>
	</div>
</div>
</body>
</html>