<% if @user.errors.any? %>
  <div id="error_explanation">
      Formulario honek <%= pluralize(@user.errors.count, "error") %> ditu.
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
