<% if @user.errors.any? %>
  <div id="error_explanation">
  	<% if @user.errors.count > 1 %>
  		Formulario honek <%= @user.errors.count %> errore ditu.
  	<% else %>
  		Formulario honek errore bat du.
	<% end %>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
