<% if @produktua.errors.any? %>
    <div id="error_explanation">
      <br />
      <% if @produktua.errors.count > 1 %>
          Formulario honek <%= @produktua.errors.count %> errore ditu.
      <% else %>
          Formulario honek errore bat du.
      <% end %>
      <ul>
        <br />
        <% @produktua.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
        <br />
      </ul>
    </div>
<% end %>

