.red{
	color: red;
}

.green{
	color: green;
}

.white{
	color: white;
}

.backgroundred{
	background: red;
}

.urdin{
	background: #6495ED;
}

.osakidetzacolor{
	background: #23145f;
}

.backgroundgreen{
	background: green;
}

.backgroundwhite{
	background: white;
}

.black{
	color: black;
}